
/*css for the navbar*/
	#navBar {
		background: teal;
		padding-left: 20px;
		padding-right: 20px;
	}

	#navTitle {

	}

	/*mobile side nav*/
	.side-nav {
		width: 150px;
		padding-left: 0px;
		padding-right: 0px;

	}
/*end of css for navbar*/

	.parallax-container {
      height: 300px;
      width: 100%;
    }

    #hangman-game {
    	background-image: url("../images/hangman-background.JPG");
    }

   